html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, ol, ul, li, p {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

.PlayButton {
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
}

.playerWidth {
  max-width: 400px;
}

.dontScale {
  object-fit: contain;
}

.App-Lista {
  max-height: calc(100vh - 58px);
  max-width: 490px;
}

.moveUp {
  top: -1.5em;
}

.onTop {
  z-index: 9999;
}

.r--480 {
  right: 480px;
}

.vw-100 {
  width: 100vw;
}