html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, ol, ul, li, p {
  margin: 0;
  padding: 0;
}



.bn {
  border: none;
}

.dontScale {
  object-fit: contain;
}

.infoHeight {
  max-height: 64px;
}

.onTop {
  z-index: 99999;
}

.w1-7 {
  width: 1.7rem;
}