html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, ol, ul, li, p {
  margin: 0;
  padding: 0;
}

.infoHeight {
  max-height: 5rem;
}

.onTop {
  z-index: 99999;
}

.w1-8 {
  width: 1.8rem;
}

.bottom-4 {
  bottom: 4rem;
}

.menuPosition {
  position: absolute;
  top: 0.25rem;
  right: 0;
}

@media(min-width: 880px) {
  .menuPosition {
    right: 512px;
  }
}

.searchPos {
  position: absolute;
  z-index: 99999;
}

@media(min-width: 880px) {
  .searchPos {
    right: 515px;
    top: 70px;
  }
}

.searchPos input {
  padding-left: 5px;
  width: 29px;
  height: 29px;
  transition: width 500ms;
}

.searchPos input:focus {
  width: 145px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}